.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 4rem 0;

  >div {
    position: relative;

    display: flex;
    align-items: center;
    padding: 0 2rem;

    width: 40rem;

    border-bottom: solid 1px var(--golden);

    img {
      position: absolute;
      height: 4rem;
      filter: opacity(0.8);

      top: -3.5rem;
      left: 4rem;
    }

    @media(max-width: 1025px) {
      margin-right: 20rem;
    }

    h1 {
      color: var(--text);
      font-size: 2.8rem;
      font-weight: 600;
      margin-right: rem;
    }

    margin-right: 30rem;
    margin-bottom: 3rem;

    @media(max-width: 801px) {
      width: auto;
      margin-right: 15rem;
    }
    
    @media(max-width: 720px) {
      width: auto;
      margin-right: 0;
    }
  }
}

.content {
  max-width: 1290px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;

  @media(max-width: 1025px) {
    max-width: 98vw;
  }

  @media(max-width: 801px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @media(max-width: 720px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}