.container {
  position: relative;

  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;

  display: flex;
  align-items: flex-end;

  h1 {
    flex: 1;

    background: var(--background);
    color: var(--dark-background);

    font-size: 1.5rem;

    padding: 1rem 0.5rem;
  }

  a {
    position: absolute;
    display: block;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }

  transition: filter 0.2s;

  &:hover {
    filter: brightness(1.15)
  }

  @media(max-width: 1025px) {
    max-height: 300px;
  }

  @media(max-width: 801px) {
    min-width: 350px;
  }

  @media(max-width: 720px) {
    min-width: 96vw;
  }
}