.contatoContainer {
  width: 100vw;

  margin: 3rem 0;
}

.contatoContent {
  max-width: 1024px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;

  @media(max-width: 720px) {
    max-width: 95vw;
    grid-template-columns: 1fr;
  }
}

.location {
  display: flex;
  flex-direction: column;

  justify-content: center;

  border-radius: 10px;
  overflow: hidden;

  iframe {
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    // height: auto;
  }
}

.contatoForm {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  border-radius: 8px;

  background: #181818;

  padding: 1rem;

  header {


    div {
      border-bottom: 1px solid var(--golden);
      padding-bottom: 8px;

      h4 {
        color: var(--grey);
        font-weight: 400;
      }

      & + div {
        margin-top: 1.5rem;
      }

      h3 {
        margin-bottom: 1rem;
      }

      section {
        display: inline-flex;

        span {
          margin: 0 0.5rem;
          font-weight: 400;
        }
      }
    }
  }

  footer {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    min-height: 3rem;
    background: #25D366;

    color: var(--background);

    border-radius: 5px;

    text-align: center;

    transition: filter 0.2s;
    
    svg {
      width: 1rem;
      height: 1rem;

      margin-left: 10px;
    }

    a {
      display: block;
    }

    &:hover {
      filter: brightness(0.8);
    }
  }
}